.link-list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;

  &:nth-child(odd) {
    background-color: #f5f6f7;
  }

  &__url-wrapper {
    display: flex;
    justify-content: space-between;

    .btn--transparent {
      padding: 4px 6px;
    }
  }
}

.link-list-item__full-url {
  font-size: 24px;
}

.link-list-item__short-url {
  font-size: 16px;
}

.remove-icon {
  height: 25px;
  width: 25px;
}

.link-list-item__copy {
  color: #29b06f;
  margin-left: 10px;

  img {
    height: 14px;
    width: 14px;
    cursor: pointer;
  }
}
