.url-form__actions {
  display: flex;
  justify-content: flex-end;
}

.form-field {
  margin-bottom: 10px;
}

.form-field__label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}

.error {
  label,
  .error-message {
    color: #cc0033;
  }

  input[type="text"] {
    border: 1px solid #cc0033;
    outline: none;
    display: block;
  }
}
